* {
    background-color: #e7dfd8 !important;
    color: #231f20 !important;
    font-family: "Atkinson Hyperlegible", serif;
    font-size: 14px;
}

.menu-items a, .experience, .skill, .dropdown-item, .btn {
    font-weight: bold !important;
    text-transform: uppercase;
    font-size: 1.2rem !important;
}

#menu a, .dropdown-menu li a {
    text-decoration: none;
}

.content-border {
    border: 1px solid #231f20;
}

.my-name, .coding-mama, h3, h4 {
    font-family: "DM Serif Display", serif;
}

.my-name {
    font-size: 3.5rem !important;
}

.coding-mama {
    font-weight: bold;
}

.skill-list-item > span {
    font-weight: bold;
}

h3, h4 {
    font-size: 2rem;
}

.footer-text {
    font-size: 1.5rem;
}

@media (max-width: 575px) {
    #skills img, #experiences img {
        margin-bottom: 20px !important;
    }
}
